@keyframes spin {
    from {
      transform: rotate(0deg); 
    }
    to {
      transform: rotate(360deg); 
    }
  }

  @keyframes color2 {
    0% {
        background-color: rgb(56, 11, 255);
    }
    70%{
        background-color: rgb(0, 162, 255);
    }
    100%{
        background-color: rgb(56, 11, 255);
    }
}


.box1{
    height: 50vh;
    width: 50vw;
    background-color: aqua;
    animation-name: spin, slide;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.box2{
    height: 50vh;
    width: 50vw;
    background-color: rgb(1, 205, 205);
    animation-name: spin, slide;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.box3{
    height: 50vh;
    width: 50vw;
    background-color: rgb(0, 114, 114);
    animation-name: spin, slide;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


body{
    background-color: aqua;
    animation-name: color2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

  
