h1{
    display: flex; 
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aqua;
    font-size: 80px;
}

a{
    color: rgb(156, 217, 255);
    font-size: 40px;
    display: flex; 
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

a:hover{
    background-color: rgb(151, 239, 255);
    color: white;
}

a:active{
    background-color: black;
    color: rgb(2, 44, 253);
}

a:visited{
    color: rgb(171, 206, 209);
}

@keyframes color2 {
    0% {
        background-color: rgb(56, 11, 255);
    }
    70%{
        background-color: rgb(0, 162, 255);
    }
    100%{
        background-color: rgb(56, 11, 255);
    }
}


body{
    background-color: aqua;
    animation-name: color2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
