@keyframes color{
    0%{
        background-color:pink ;
    }
    70%{
        background-color: red ;
    }
    100%{
        background-color:pink ;
    }
}
  
@keyframes color2{
    0%{
        background-color:yellow ;
    }
    70%{
        background-color: skyblue ;
    }
    100%{
        background-color:yellow ;
    }
}

@keyframes color3{
    0%{
        background-color:skyblue ;
    }
    70%{
        background-color: yellow ;
    }
    100%{
        background-color:skyblue ;
    }
}

@keyframes color4{
    0%{
        background-color:red ;
    }
    70%{
        background-color: pink ;
    }
    100%{
        background-color:red ;
    }
}


  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: rgb(191,222,196);
    animation-name: color;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  
  .row {
    display: flex;
    gap: 10px;
    height: 200px; 
    animation-name: color2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  

  .top {
    justify-content: space-between;
  }
  
  .top-item {
    flex: 1;
    background: rgb(209,129,121);
    animation-name: color3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  

  .circle {
    justify-content: space-between;
  }
  
  .circle-item {
    flex: 1;
    background: rgb(209,129,121);
    border-radius: 50%;
    animation-name: color4;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  


